body {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
    background-color: #FFD5AE;
}

main {
	margin-top: 20px;
}

.name {
	color: #B87E43;
}

header{
    background-color: #FFC690;
    text-align: center;
    font-size: 45px;
    color: #B87E43;
	padding: 10px;
    height: 120px;
}

header p{
    position: absolute;
    top: 40px;
    left: 40%;
	text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

header nav {
	margin-left: 40px;
}

.logo{
    float: left;
	margin-top: 9.5px;
	margin-left: 9px;
}

.circle {
    width: 65px;
    height: 65px;
    border-radius: 50%; 
    background-color: #FFD4A8;
    padding-top: 1px;
}

.menu{
    background-color: #E9C9AA;
    padding-left: 50px;
    padding-right: 50px;
	border-radius: 10px;
	box-shadow: 0 3px 60px rgba(0, 0, 0, 0.16);
}

.bot{
	border-radius: 100px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
}

body {
	font-family: 'Roboto', Arial, sans-serif;
	overflow-x: hidden;
	text-align: center;
}

.navigation {
		width: 100%;
		height: 70px;
		background-color: #E1B589;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.navigation > nav > div {
		float: left;
		//width: 16.6666%;
		height: 100%;
		position: relative;
		transition: background-color 0.2s ease;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.navigation > nav > div > a {
		text-align: center;
		width: 100%;
		height: 100%;
		display: block;
		line-height: 50px;
		color: #fbfbfb;
		//transition: background-color 0.2s ease;
		text-transform: uppercase;
		font-size: 15px;
		font-weight: bold;
}

.navigation > nav > div:hover {
		background-color: rgba(0, 0, 0, 0.1);
		cursor: pointer;
}

.navigation > nav > div > div {
		display: none;
		overflow: hidden;
		background-color: #FFC690;
		min-width: 200%;
		position: absolute;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
		padding: 10px;
}

.navigation > nav > div:not(:first-of-type):not(:last-of-type) > div {
		left: -50%;
		border-radius: 0 0 3px 3px;
}

.navigation > nav > div:first-of-type > div {
		left: 0;
		border-radius: 0 0 3px 0;
}

.navigation > nav > div:last-of-type > div {
		right: 0;
		border-radius: 5px 5px 5px 5px;
}

.navigation > nav > div:hover > div {
		display: block;
}

.navigation > nav > div > div > a {
		display: block;
		float: left;
		padding: 8px 10px;
		width: 46%;
		margin: 2%;
		text-align: center;
		background-color: #E1B589;
		color: #fbfbfb;
		border-radius: 5px;
		transition: background-color 0.2s ease;
}

.navigation > nav > div > div > a:hover {
		background-color: #B87E43;
		cursor: pointer;
}

h1 {
		margin-top: 100px;
		font-weight: 100;
}

p {
		color: #B87E43;
		font-weight: 300;
}

@media (max-width:600px) {
		.navigation > nav > div > div > a {
				margin: 5px 0;
				width: 100%;
		}
		.navigation > nav > div > a > span {
				display: none;
		}
}

.navigation{
    font-size: 10px;
    margin-bottom: 8px;
}

.welcome {
	color: black;
	font-size: 18px;
	margin-left: 2px
}

.wel {
	width: 75%;
	margin-left: 9px;
	float: right;
}

.shop {
	float: right;
	width: 150px;
	margin-top: 5px;
	margin-right: 50px;
}

.nab {
	float: left;
	margin-top: 30px;
	text-align: center;
	background-color: #E9C9AA;
	padding: 30px;
	width: 100%;
	font-size: 20px;
}






.logogo{
    position: absolute;
    width: 200px;
    left: 800px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
}
article{
	width: 400px;
	margin-left: 120px;
}

.info img{
	width: 350px;
	margin-left: 50px;
}
.vidguk img{
	width: 350px;
	margin-left: 15px;
	margin: 50px;
}
.vidguk h1{
	background-color: #B87E43;
	color: #E9C9AA;
	height: 100px;
	font-size: 50px;
}
.vidguk{
	height: 100px;
}
.gi{
	position: absolute;
	top: 1800px;
	
	
}
.gi p{
	font-size: 60px;
	color: #FFC690;
	background-color: #805326;
	text-align: center;
	margin: 30px;
}
footer{
	height: 100px;
	background-color: #b68251;
}

h2{
	color: #8b633d;
	text-align: center;
	width: 400px;
	margin-left: 370px;
}
footer img{
	width: 150px;
	position: absolute;
	left: 800px;
}
